
@using TaskManager.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .completed {
            color: red;
            text-decoration: line-through;
            font-style: italic;
        }

    </style>
</head>
<body>
    <h1>Tasks</h1>
    <hr />
    
    <form action="/Tasks/Save" method="post">
        <div>
        <span>Task Name :</span>
            <input type="text" name="newTask" value="" />
            <input type="submit" name="submit" value="Save" />
    </div>
    </form>
    <a href="/Tasks/RemoveCompleted">Remove Completed</a>
    <br />
    @{
        var tasks = (List<MyTask>)ViewData["tasks"];
        }
    
    <ul>
        @foreach(var task in tasks){
            <li  >[@task.Id] <span class="@(task.IsCompleted ? "completed" : "")">@task.Name</span>  <a href="/Tasks/ToggleCompletion?Id=@task.Id">Toggle Completion</a></li>
            
        }
    </ul>
</body>
</html>
