@model NewProductsManagement.Models.ViewModels.CreateProductVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("CreateNew",Model.Product)

<div id="productList">
    @Html.Partial("Index", Model.Products)
</div>

   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

